// 内容区字体颜色
$content-fontcolor:#333;
// 内容区背景颜色
$content-backgroundColor:#021132;
// 导航栏背景颜色
$nav-backgroundColor:#14316b;
// 导航栏字体颜色
$nav-fontcolor:#3debec;
// 侧边栏背景颜色
$sidebar-backgroundColor: #051d3f;
// 侧边栏选中背景颜色
$sidebar-backgroundColor-selected: $content-backgroundColor;
// 侧边栏字体选中颜色
$sidebar-fontcolor-selected: $nav-fontcolor;
// 侧边栏字体未选中颜色
$sidebar-fontcolor-unselected: #fff;